<div class="cabecalho">
<div class="avatar">
  <%= image_tag @profile.avatar.url(:medium) %>
</div>
  <h1 class="nome"><%= @profile.name %></h2>

  <p class="nome">
    Olá, meu nome é <b><%=@profile.name %></b> e sou freelancer em Ruby on Rails.
  </p>
<div class="bio">
  <p>
    <p>
    <h3>Biografia</h3>    
    <%= @profile.bio %>
  </p>
  </p>
</div><hr />
</div>
<div class="ui list">
  <div class="skills">
    <img src="http://image.flaticon.com/icons/svg/65/65629.svg" alt="Skills"/>
    <h2>Skills</h2>
  </div>
  <% @profile.skills.each do |skill| %>
  <p>

  </p>
  <div class="item">
    <i class="book icon"></i>
    <div class="content">
        <li class="itemSkill">
          <%= skill.name %> - <%= skill.years %> anos de experiência
        </li>
    </div>
  </div>
  <% end %>
  <br />
  <%= button_to "New Skill", controller: "skills", :action => "new", id: @profile  %>

</div>
<hr />
<p>
  <div class="jobs">
    <img src="https://www.myamcat.com/blog/wp-content/uploads/2016/02/job-icon.png" alt="Skills"/>
    <h2>Jobs</h2>
  </div>
  <div class="all_jobs">

    <div class="ui three column grid">
    <% @profile.jobs.each do |job| %>
      <div class="column">
        <div class="item">
          <div class="job">

           <div class="ui tiny image">
             <%= image_tag job.img_job.url(:thumb) %>
           </div>
           <div class="middle aligned content">
             <%= job.title %>
           </div>
         </div>
        </div>
      </div>
  <% end %>
  </p>
  <!-- <%= link_to "New Job", controller: "jobs", action: "new", id: @profile %> -->
</div>
</div>
